<ion-header>
  <ion-toolbar>
    <ion-title>
      Weather App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>Current Weather</h2>
  
  <ion-spinner *ngIf="!weather" color="primary" name="crescent"></ion-spinner>
  <app-weather *ngIf="weather" [weather]='weather'></app-weather>
  
  <h2>Get The 5 Day Weather Forecast</h2>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Enter City</ion-label>
      <ion-input [(ngModel)]="searchText" name="name" type="text" required></ion-input>
    </ion-item>
  </ion-list>
  <ion-button color="primary" [disabled]="!searchText" (click)="onSubmit(searchText)">
    Submit
  </ion-button>
</ion-content>
